body {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 8px; 
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 512px 1fr;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    min-height: 100vh;
    overflow-y: auto;
}

header {
    grid-area: header;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px solid #161054; 

}

#Logo {
    width: 160px;
    height: auto;
    margin-right: 20px;
}

#searchAndButtons {
    display: flex;
    align-items: center;
    flex: 1;
}

#search-bar {
    flex: 1;
    padding: 10px;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 0; 
    border: 4px solid #ac35ff;
    background-color: #ffd301; 
    font-family: 'Press Start 2P', Arial, sans-serif;
    box-shadow: 0 0 0 2px #161054, 4px 4px 0 0 #161054;
}

.button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 0; 
    border: 4px solid #ac35ff;
    background-color: #ffd301; 
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-family: 'Press Start 2P', Arial, sans-serif;
    box-shadow: 0 0 0 2px #161054, 4px 4px 0 0 #161054;
}

.button:hover {
    transform: scale(1.1);
}

#language-button {
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 0; 
    border: 4px solid #ac35ff;
    background-color: #ffd301; 
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-family: 'Press Start 2P', Arial, sans-serif;
    box-shadow: 0 0 0 2px #161054, 4px 4px 0 0 #161054;
}

#language-button:hover {
    transform: scale(1.1);
}

nav {
    grid-area: nav;
    padding: 20px;
    margin-left: 25%;
}

.sideBox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 6px solid #ac35ff;
    background-color: #e7e7e7;
    font-family: 'Press Start 2P', Arial, sans-serif;
    box-shadow: 0 0 0 3px #161054, 6px 6px 0 0 #161054;    margin-bottom: 20px; 
}

main {
    grid-area: main;
    padding: 20px;
    margin-left: 5%;
}

.content-box {
    width: 68%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 6px solid #ac35ff;
    background-color: #e7e7e7;
    font-family: 'Press Start 2P', Arial, sans-serif;
    box-shadow: 0 0 0 3px #161054, 6px 6px 0 0 #161054;}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
